html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

#root {
  width: 90%;
  margin: 2% 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 3rem;
}

#root .bg-white {
  background-color: white;
}
