.autoc-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
}

.autoc-list .autoc-entry {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 1px solid grey;
    background-color: white;
}
.autoc-list .autoc-entry:hover {
    background-color: silver;
}