html, body {
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#root {
    width: 90%;
    margin: 2% 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    min-height: 3rem;
}

#root .bg-white {
    background-color: white;
}